@model List<PatientListViewModel>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
}

<h2>Liste des Patients</h2>

<a asp-controller="Home" asp-action="Upsert" class="btn btn-success mb-3">
    Ajouter un nouveau patient
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Genre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.Nom</td>
                <td>@patient.Prenom</td>
                <td>@patient.GenreType</td>
                <td>
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@patient.PatientId" class="btn btn-primary">
                        Voir détails
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
